* {
  margin: 0px;
  padding: 0px;
}
.b1 {
  background-color: #d47677;
  width: 500px;
  margin-left: 400px;
  margin-top: 150px;
  display: flex;
}

.b2 {
  background-color: #ececec;
  text-align: center;
  width: 400px;
  margin-left: 10%;
  margin-top: 15%;
  display: block;
  height: auto;
  margin-bottom: 50px;
}
.pics {
  margin-left: 130px;
  margin-top: -50px;
  align-content: center;
  align-items: center;
  display: block;
}

.username {
  display: block;
  margin-bottom: 15px;
}

.i1 {
  border-radius: 3px;
  padding: 8px;
  border: none;
  width: 90%;
  margin: 10px 10px;
}

.sub {
  width: 90%;
  border: none;
  border-radius: 3px;
  background-color: #70c5c0;
  padding: 8px;
  margin-bottom: 30px;
  color: white;
}
